* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

header {
    top: 0;
    height: 80px;
    width: 100%;
    position: sticky;
    z-index: 2;
    background-color: rgb(33, 30, 30);
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-link-div {
    height: 80px;
    width: 200px;
}

.header-link {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}